<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Minden ami fa, sőt még több!</h2>
                <hr class="light">
                <p class="text-faded">Cégünkaz Unikornis Termelő és Szolgáltató Szociális Szövetkezet 2015 óta foglalkozik száraztészták gyártásával és értékesítésével. Elsősorban a környékbeli éttermek és iskolai étkezdék kiszolgálásával foglalkozunk de emellett magánszemélyeknek és rendezvényekre is értékesítünk.</p>
<p class="text-faded">Nagyon fontos számunkra a jó minőségű alapanyagok használata. A prémium tyúktojások felhasználásával készült száraztésztáink arnysárga színében a fogyasztók is könnyen felismerik az igazi minőséget. </p>

                <a href="#contact" class="btn btn-default btn-xl page-scroll">Lépjünk kapcsolatba!</a>
            </div>
        </div>
    </div>
</section>
