<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Kóstoljon bele!</h2>
                <hr class="primary">
                <p>Lépjen velünk kapcsolatba, ha többet szeretne megtudni tésztáinkról.</p>
                <hr class="primary">
<p><b>UNIKORNIS Termelő és Szolgáltató Szociális Szövetkezet</b><br>
  8693 Lengyeltóti<br>
  Zrínyi utca 2. </p>
  <hr class="primary">
            </div>

        <div class="col-lg-2 col-lg-offset-2 text-center">
            <a href="https://facebook.com/{{ site.facebook_username }}">
                <i class="fab fa-facebook fa-4x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.facebook_username }}</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="mailto:{{ site.email }}">
            <i class="fas fa-envelope fa-4x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.email }}</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
  <a href="tel:{{ site.phone }}">
          <i class="fas fa-phone fa-4x wow bounceIn" data-wow-delay=".1s"></i>
              <p>{{ site.phone }}</p>
          </a>
      </div>


    </div>
</section>
